<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="activités.css">

</head>
<body>

</div>
<nav>
    <ul>
        <li><a href="home.html" class="active">Accueil </a></li>
        <li><a href="exposition.html">Exposition</a></li>
        <li><a href="commande.html">Commande</a></li>
        <li><a href="tickets.html">Billets</a></li>
        <li><a href="gu.html">Gestion d'utilisateur</a></li>
        <li><a href="commentaire.html">Commentaires</a></li>
      
        <ul class="activités">
            <li><a href="activités.html">Activités</a>
                <ul class="dropdown">
                    <li><a href="toile.html">peinture sur toile</a></li>
                    <li><a href="verre.html">peinture sur verre</a></li>
                    <li><a href="soie.html">peinture sur soie</a></li>
                    <li><a href="poteri.html">poterie</a></li>
                </ul>
            </li>
        </ul>
           
       
        </ul>
   
  
</nav>

<center><h1>Bienvenue Dans No Clubes!!</h1></center>
<br>
<div style="position: relative;">
    <video autoplay loop muted playsinline class="video" width="2000" height="500" controls style="object-fit: cover;">
        <source src="C:\Users\user\Desktop\site\video\Spot _ Club peinture pour enfants.mp4" type="video/mp4">
    </video>
    <button><a href="inscription.html">Inscrivez-vous</a></button> <!-- Le bouton avec le lien d'inscription -->
   <center> <h1>Inscrivez-vous dès aujourd'hui et libérez l'artiste qui sommeille en vous !</h1></center>
</div>
<!-- < -->
    <br>    
    <center>
<h3>les clubs d'art  offrent un environnement stimulant pour explorer des médiums tels que la peinture, la sculpture, le dessin et la photographie. Les membres bénéficient d'une inspiration mutuelle, de l'expertise de leurs pairs et de l'encadrement de professionnels. Ces clubs encouragent l'expression personnelle, favorisent le développement des talents et créent des liens sociaux. Que l'on soit débutant cherchant à apprendre ou artiste confirmé souhaitant collaborer et progresser, les clubs d'art jouent un rôle clé dans la promotion de la créativité et de l'appréciation artistique au sein de la communauté.</h3>
</center>
<center><div class="image"></div>
    <img class="image"src="C:\Users\user\Desktop\site\image\2000001438670.webp" width="500" height="300">
    <div class="image">
        <img class="image"src="C:\Users\user\Desktop\site\image\Art6.webp" width="500" height="300">
    </div>
 <h3>"Découvrez le pouvoir de la créativité et laissez votre talent artistique s'épanouir au sein de notre club d'art accueillant. Rejoignez-nous pour explorer de nouvelles horizons artistiques, rencontrer des passionnés comme vous et faire de l'art une partie inoubliable de votre vie</h3>
    <div class="image">
        <img class="imagea"src="C:\Users\user\Desktop\site\image\Forum Les Choses- © Musée du Louvre - Florence Brochoire.jpg" width="800" height="500">
    </div>
   
  </center>

</footer>
</div> 
</body>

</html>  <footer class="footer">
   
    <div class="social-icons">
        <img class="image"src="C:\Users\user\Desktop\site\image\facebook-icon-white-png.png" width="50" height="50"><i class="fab fa-faceboock"></i>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <span><i class="fas fa-phone"></i> Téléphone : +216 98 632 708</span>
        <span><i class="fas fa-envelope"></i> Email : contact@culture Connectée.com</span>
    </div>